.nav-container {
  background-image: url("../../assets/images/line.svg");
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
  overflow: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
.home-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.home-list-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.home-list {
  color: #ffffff;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}
.logoImg {
  width: 30px;
}
.eyeBtn {
  width: 64px;
  cursor: pointer;
}
.barBtn {
  width: 35px;
  cursor: pointer;
}
.home-content-block {
  width: 100%;
  position: relative;
}

.home-content-cashApp {
  position: relative;
  width: 100%;
  height: 100vh;
}
.home-content-cash {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0%;
  left: 50%;
  color: #fff;
  font-size: 12rem;
  font-weight: 800;
  text-transform: uppercase;
}
.home-content-app {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  color: #fff;
  font-size: 12rem;
  font-weight: 800;
  text-transform: uppercase;
}
.home-content-phone {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 330px;
}
.home-content-cube {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 18%;
  width: 80px;
}
.home-content-stairs {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  right: 5%;
  width: 150px;
}
.home-content-bulkCube {
  position: absolute;
  width: 150px;
  bottom: 20%;
  left: 15%;
}
.home-content-pillar {
  position: absolute;
  /* transform: translate(-50%, 149%); */
  /* top: 0%; */
  bottom: 0;
  right: 20%;
  width: 245px;
  z-index: 1;
}
.media-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 40%;
}
.home-content-para {
  font-size: 10px;
  color: #b6b6b6;
  width: 100%;
  text-align: justify;
}
.home-content-para-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.store-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 800;
  padding: 12px 25px;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
.arrow-btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-btn {
  cursor: pointer;
}
.social-media-wrap {
  margin: 8px;
  color: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.arrow-btn-wrapper {
  width: 20%;
}
.home-content-para-wrap {
  width: 40%;
}
/* .payment-container {
  background-image: url("../../assets/images/bg-line.svg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */
.payment-content {
  width: 100%;
  height: 50vh;
  position: relative;
}
.payment-phone {
  position: absolute;
  bottom: -40%;
  left: 20%;
  z-index: 1;
  width: 50%;
}
.paymentTextSection {
  position: absolute;
  bottom: 10%;
  left: calc(100vw - 85%);
}
.payment-heading {
  color: #00d54b;
  font-size: 40px;
  font-weight: 800;
  margin: 4px;
}
.payment-para {
  color: #000;
  width: 350px;
  text-align: justify;
  margin: 4px;
  font-size: 1rem;
  font-weight: 400;
}
.payment-pillar-block {
  background-image: url("../../assets/images/bg-line.svg");
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  box-sizing: border-box;
}

.left-pillar {
  width: 12%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.large-pillar-right {
  position: absolute;
  bottom: 2rem;
  right: 0;
  width: 50%;
}
.mid-pillar-left {
  position: absolute;
  bottom: 5%;
  left: 10%;
  z-index: 1;
  width: 10%;
}
.small-pillar {
  position: absolute;
  bottom: 15%;
  left: 17%;
  width: 8%;
}
.large-pillar {
  position: absolute;
  bottom: 0;
  right: 30%;
  z-index: 1;
  width: 50%;
}
.mid-pillar-right {
  position: absolute;
  right: 15%;
  bottom: 40%;
  width: 10%;
}
.cylinder-large-pillar {
  position: absolute;
  bottom: 40%;
  right: 45%;
  width: 12%;
  z-index: 1;
}
.mid-pillar {
  position: absolute;
  left: 35%;
  bottom: 10%;
  z-index: 1;
  width: 10%;
}
.half-pillar {
  position: absolute;
  left: 40%;
  bottom: 0;
  width: 10%;
}
.banking-section {
  width: 100%;
  height: 100vh;
  background-color: #00d54b;
  position: relative;
}

.banking-hole {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}
.banking-track {
  position: absolute;
  top: 2%;
  right: 10%;
  width: 18%;
}
.banking-column {
  position: absolute;
  left: 5%;
  top: 15%;
  width: 8%;
}
.banking-track-2 {
  position: absolute;
  left: 30%;
  top: 25%;
  width: 18%;
}
.banking-phone {
  position: absolute;
  left: 40%;
  top: 25%;
  width: 22%;
}
.banking-stairs-2 {
  position: absolute;
  left: 5%;
  bottom: 15%;
  width: 6%;
}
.banking-stairs-1 {
  position: absolute;
  right: 5%;
  top: 40%;
  width: 6%;
}
.banking-tube {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 10%;
}
.banking-hole2 {
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 20%;
}
.banking-monster {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 10%;
}
.banking-cube {
  position: absolute;
  right: 20%;
  bottom: 15%;
  width: 18%;
}
.banking-ramp {
  position: absolute;
  right: 20%;
  top: 30%;
  width: 18%;
}
.banking-ramp-2 {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 18%;
}
.banking-content {
  position: absolute;
  top: 45%;
  left: 20%;
}
.banking-heading {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  margin: 4px;
}
.banking-para {
  color: #000;
  width: 350px;
  text-align: justify;
  margin: 4px;
  font-size: 1rem;
  font-weight: 400;
}
.boost-section {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boost-left-section {
  width: 40%;
  height: 100vh;
  position: relative;
}
.boost-bg-image {
  background-image: url("../../assets/images/boost-stairs-2\ \(1\).svg");
  width: 50%;
  height: 100vh;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.boost-right-section {
  width: 50%;
  height: 100vh;
  position: relative;
}
.boost-bg-right {
  background-image: url("../../assets/images/boost-stairs-1.svg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
/* .boost-stairs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}
.boost-stairs2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
} */
.boost-hand {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 18%;
  right: 16%;
  width: 10%;
}
.boost-card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  right: 30%;
  width: 10%;
}
.boost-burger {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 40%;
  top: 57%;
  width: 10%;
}
.boost-coffee {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 8%;
  right: 28%;
  width: 10%;
}
.boost-shoe {
  position: absolute;
  transform: translate(-50%, -50%);
  right: -4%;
  bottom: 30%;
  width: 12%;
}
.boost-phone {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -22%;
  right: 50%;
  width: 28%;
}
.boost-text-content {
  position: absolute;
  width: 350px;
  top: 30%;
  left: 40%;
}
.boost-text-heading {
  color: #00d54b;
  margin: 4px;
  font-size: 40px;
  font-weight: 800;
}
.boost-text-para {
  color: #fff;
  margin: 4px;
  font-size: 1rem;
  font-weight: 400;
}
.investing-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.investing-section-upperside {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 60vh;
  background-color: #00d54b;
  background-image: url("../../assets//images/focus-bg.svg");
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
}
.investing-section-downside {
  width: 100%;
  height: 40vh;
  /* background-color: #fff; */
  background-image: url("../../assets/images/bg-frame.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.investing-phoneViewWrapper {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
.investing-stocks-content {
  width: 20rem;
}
.invwsting-bitcoin-content {
  width: 20rem;
}
.investing-stock {
  padding-right: 20px;
  width: 44%;
}
.investing-bitcoin {
  padding-left: 20px;
  width: 44%;
}
.StockGraph {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  z-index: -1;
}
.BitcoinGraph {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  z-index: -1;
}
.investing {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}
.investing-media-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 30px;
  box-sizing: border-box;
}
.social-media-wrap {
  margin-left: 20px;
}
.investing-content-para-wrap {
  width: 60%;
  display: flex;
  align-items: center;
}
.investing-content-para {
  font-size: 12px;
  color: #b6b6b6;
  width: 100%;
  text-align: justify;
}
.investing-store-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 40%;
}
.investing-social-media-wrap {
  margin: 8px;
  color: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
