@media only screen and (max-width: 1250px) {
  .home-content-stairs {
    right: 0%;
  }
  .home-content-cash {
    font-size: 10rem;
  }
  .home-content-app {
    font-size: 10rem;
  }
  .home-content-phone {
    width: 300px;
  }
}

@media only screen and (max-width: 1067px) {
  .home-list {
    padding: 8px;
  }
  .logoImg {
    width: 25px;
  }
  .eyeBtn {
    width: 50px;
  }
  .home-content-phone {
    width: 280px;
  }
  .home-content-app {
    font-size: 10rem;
  }
  .home-content-cash {
    font-size: 10rem;
  }
  .home-content-stairs {
    width: 130px;
  }
  .home-content-bulkCube {
    width: 120px;
  }
  .home-content-pillar {
    width: 220px;
  }

  .social-media-wrap {
    gap: 15px;
  }
  .arrow-btn {
    left: 45%;
  }
}

@media only screen and (max-width: 950px) {
  .home-container {
    padding: 0 20px;
  }
  .home-list {
    padding: 6px;
    font-size: 10px;
    font-weight: 700;
  }

  .home-content-stairs {
    width: 100px;
  }
  .home-content-cube {
    width: 50px;
  }
  .home-content-pillar {
    width: 200px;
  }
  .store-btn {
    gap: 8px;
    font-size: 12px;
    font-weight: 800;
    padding: 8px 20px;
  }
  .store-wrapper {
    padding: 20px 30px;
    gap: 12px;
  }
  .home-content-para {
    margin: 20px 16px;
    font-size: 10px;
  }

  .social-media-wrap img {
    width: 20px;
  }

  .home-content-pillar {
    bottom: 0;
  }
  .arrow-btn-wrapper {
    width: 5%;
  }
  .home-content-para-wrap {
    width: 50%;
  }
}
@media only screen and (max-width: 850px) {
  .media-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .arrow-btn-wrapper {
    display: none;
  }
  .store-wrapper {
    gap: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-content-para-wrap {
    width: 100%;
  }
  .home-content-pillar {
    display: none;
  }
}
@media only screen and (min-width: 850px) {
  .arrow-btn-wrapper-2 {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .home-list-wrap {
    display: none;
  }
  .eyeBtn {
    display: none;
  }
  .home-content-phone {
    width: 235px;
    top: 65%;
  }
  .home-content-app {
    font-size: 8rem;
    bottom: 40%;
  }
  .home-content-cash {
    font-size: 8rem;
    top: 20%;
  }
  .home-content-stairs {
    width: 110px;
  }
  .home-content-cube {
    width: 50px;
  }
  .home-content-bulkCube {
    width: 95px;
    bottom: 30%;
  }

  .store-btn {
    font-size: 12px;
    font-weight: 800;
    padding: 12px 25px;
  }
}
@media only screen and (max-width: 667px) {
  .store-wrapper {
    padding: 8px;
  }
  .home-content-para {
    margin: 8px;
  }
  .home-content-cube {
    top: 20%;
  }
  .home-content-stairs {
    top: 25%;
    right: -5%;
    width: 100px;
  }
  .home-content-bulkCube {
    width: 95px;
    bottom: 30%;
    left: 10%;
  }
  .home-content-cash {
    font-size: 8rem;
  }
  .home-content-app {
    font-size: 8rem;
  }
  .home-content-phone {
    width: 230px;
    top: 60%;
  }
  .home-nav {
    padding: 0;
    padding-top: 12px;
  }
}

@media only screen and (max-width: 550px) {
  .home-content-stairs {
    top: 20%;
    right: -10%;
    width: 70px;
  }
  .home-content-bulkCube {
    width: 80px;
    bottom: 35%;
    left: 5%;
  }
  .home-content-cash {
    font-size: 6rem;
  }
  .home-content-app {
    font-size: 6rem;
  }
  .home-content-phone {
    width: 200px;
  }
  .home-content-para-wrap {
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .home-container {
    padding: 0 12px;
  }
}

@media only screen and (min-width: 767px) {
  .barBtn {
    display: none;
  }
  .sidebar-container {
    display: none;
  }
}
